body {
  background: #7f5539;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 230px;
  background: #7f5539;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.menu a, .settings a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.3s ease;
}

.menu a:hover,.settings a:hover{
    background-color: #ede0d4;
    font-weight: 500;
    color: black;
}

.content {
  flex: 1;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #f1f1f1;
}

.profile {
  border-radius: 50%;
}

.course-grid {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.course-card {
  flex: 1;
  padding: 20px;
  border-radius: 16px;
  color: #333;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.course-card h4 {
  margin-bottom: 5px;
}

.course-card p {
  font-size: 14px;
  color: #666;
}

.course-card .progress {
  height: 8px;
  border-radius: 4px;
  background: #eaeaea;
  margin-top: 10px;
}

.course-card .bar {
  height: 8px;
  border-radius: 4px;
}

.bottom {
  display: flex;
  margin-top: 40px;
  gap: 20px;
}

.activity, .mentors, .study {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  flex: 1;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.activity ul, .mentors ul {
  list-style: none;
  padding: 0;
}

.acticity li, .mentors li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  color: #444;
}

.mentors li img {
  border-radius: 50%;
  margin-right: 10px;
}

.subscription {
  text-align: center;
}

.subscription button {
  margin-top: 10px;
  background: #ffb703;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}
